.magazine-layout{
display:grid; gap:1.4rem;
background:#b8eee6;
 grid-template-columns: minmax(180px,2fr) 1fr ;
grid-template-rows:auto auto 1fr;

grid-template-areas:
"header   header"
"main-image  pull-quote"
"content content"
;
}

header{
grid-area:header;
display:flex; justify-content:space-between;align-items:center }

.main-image{
grid-area:main-image;
}

.content {grid-area:content;}

.pull-quote{grid-area:pull-quote}

nav ul{
display:flex;gap:1rem; list-style:none;margin:0;padding:0
}

.main-image img{
   width:100%; display:block;border-radius:5px
}

.pull-quote blockquote{
font-size:1.35rem; font-style:italic;margin:0; padding:1rem;
border-left:3px solid #333
}

header h1{margin:0 ;  padding-right:10px}

@media (max-width:700px){

.magazine-layout{
grid-template-columns:1fr;
grid-template-areas:
"header"
"main-image"
"pull-quote"
"content"; }

nav ul{flex-wrap:wrap; gap:.4rem}

}