body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 20px;
    background: #222;
    color: white;
}

.logo {
    margin: 0;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/* Main Layout */
.content-wrapper {
    display: flex; 
    flex: 1;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #333;
    color: white;
    padding: 20px;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Card Container */
.card-container {
    display: flex;          
    flex-wrap: wrap;        
    gap: 20px;
    margin-top: 20px;
}

/* Cards */
.card {
    background: rgb(121, 196, 196);
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 300px;        
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    transition: transform 0.3s ease, 
                box-shadow 0.3s ease;  
}

.card:hover {
    transform: scale(1.05) translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Clint's Card */

.Clints-card {

background: rgb(94, 199, 141);

    align-self: flex-end; 
}
